<link href="~/Content/Site.css" rel="stylesheet" />

<div ng-app="chessApp">
    <div ng-controller="analysisCtrl">
        <br />
        <div class="alert alert-success" role="alert" ng-show="'moveResult' == 'correct'">Correct!</div>
        <div class="alert alert-danger" role="alert" ng-show="'moveResult' == 'wrong'">Try Again</div>
        <div class="alert alert-warning" role="alert" ng-show="'moveResult' == 'close'">Try Again</div>

        <div>
            {{moveResult}}
        </div>

        <div>
            <span>Evaluation: </span>
            <span>{{evaluation}}</span>
        </div>
        <div ng-show="showBestLine">
            <span>Best Line: </span>
            <span>{{bestLine}}</span>
        </div>

        <div class="row">

            <div id="mainBoard" class="col-md-5">
                <div ng-repeat="x in [0,1,2,3,4,5,6,7]">
                    <span ng-repeat="y in [0,1,2,3,4,5,6,7]">
                        <span ng-class="getClass(x, y)" class="cell X{{x}}Y{{y}}"
                              ng-style="{'transform': getTransform(x, y)}" ng-click="selectCell($event)"></span>

                    </span>
                </div>

                <div ng-style="{'transform': getTransform(0, 8)}" style="margin:5px">
                    <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="repeatPosition()">
                        <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="navigateBackward()">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    </button>
                </div>
            </div>

            <div class="col-md-3">

                <br />
                <br />

                <div style="overflow:auto">
                    <span ng-repeat="move in moveList track by $index">
                        <span>{{$index / 2 + 1}}.</span>
                        <span>{{move}}</span>
                        <br ng-show="$index % 2 == 1"/>
                    </span>
                </div>
            </div>

            <div id="gameMoves" class="col-md-3">
                <br />
                <br />
                <div>
                    Show Top Moves: <input type="checkbox" ng-model="showTopMoves" />
                    <br />

                    <div ng-repeat="move in availableMoves track by $index">
                        <span style="width: 60px; display: inline-block">{{move.White + move.Draw + move.Black}}</span>
                        <button type="button" class="btn btn-default" ng-click="selectMove(move)" ng-show="showTopMoves">
                            <span>{{move.Move}}</span>
                        </button>
                    </div>
                </div>
                <br />
                Show Best Line: <input type="checkbox" ng-model="showBestLine" />
                <br />
                Auto Move: <input type="checkbox" ng-model="autoMove" />
                <br />
                Restricted Play Mode: <input type="checkbox" ng-model="restrictedPlay" />
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/Controllers/HomeController.js"></script>

